<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Tsg_AutoLoadImage>
            <version>0.0.1</version>
        </Tsg_AutoLoadImage>
    </modules>
    <global>
        <helpers>
            <tsg_autoloadimage>
                <class>Tsg_AutoLoadImage_Helper</class>
            </tsg_autoloadimage>
        </helpers>
        <blocks>
            <tsg_autoloadimage>
                <class>Tsg_AutoLoadImage_Block</class>
            </tsg_autoloadimage>
        </blocks>
        <models>
            <tsg_autoloadimage>
                <class>Tsg_AutoLoadImage_Model</class>
                <resourceModel>import_file_resource</resourceModel>
            </tsg_autoloadimage>
            <import_file_resource>
                <class>Tsg_AutoLoadImage_Model_Resource</class>
                <entities>
                    <import_image>
                        <table>tsg_import_images</table>
                    </import_image>
                </entities>
            </import_file_resource>
        </models>

        <!--<models>
            <kalinich_action>
                <class>Kalinich_Action_Model</class>
                <resourceModel>kalinich_action_resource</resourceModel>
            </kalinich_action>
            <kalinich_action_resource>
                <class>Kalinich_Action_Model_Resource</class>
                <entities>
                    <post_action>
                        <table>kalinich_action</table>
                    </post_action>
                    <post_action_product>
                        <table>kalinich_action_product</table>
                    </post_action_product>
                </entities>
            </kalinich_action_resource>
        </models>-->

        <resources>
            <tsg_autoloadimage_setup>
                <setup>
                    <module>Tsg_AutoLoadImage</module>
                </setup>
            </tsg_autoloadimage_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <tsg_autoloadimage before="Mage_Adminhtml">Tsg_AutoLoadImage_Adminhtml</tsg_autoloadimage>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <add_import_button_to_product_grid>
                        <type>method</type>
                        <class>tsg_autoloadimage/observer</class>
                        <method>addButtonImportImages</method>
                    </add_import_button_to_product_grid>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
    </adminhtml>
</config>