<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Tsg_AutoLoadImage>
            <version>0.0.1</version>
        </Tsg_AutoLoadImage>
    </modules>
    <global>
        <helpers>
            <tsg_autoloadimage>
                <class>Tsg_AutoLoadImage_Helper</class>
            </tsg_autoloadimage>
        </helpers>
        <blocks>
            <tsg_autoloadimage>
                <class>Tsg_AutoLoadImage_Block</class>
            </tsg_autoloadimage>
        </blocks>
        <models>
            <tsg_autoloadimage>
                <class>Tsg_AutoLoadImage_Model</class>
                <resourceModel>import_file_resource</resourceModel>
            </tsg_autoloadimage>
            <import_file_resource>
                <class>Tsg_AutoLoadImage_Model_Resource</class>
                <entities>
                    <import_image>
                        <table>tsg_import_images</table>
                    </import_image>
                </entities>
            </import_file_resource>
        </models>
        <resources>
            <tsg_autoloadimage_setup>
                <setup>
                    <module>Tsg_AutoLoadImage</module>
                </setup>
            </tsg_autoloadimage_setup>
        </resources>
        <crontab>
            <jobs>
                <tsg_autoloadimage_cron>
                    <schedule>
                        <cron_expr>*/1 * * * *</cron_expr>
                    </schedule>
                    <run>
                        <model>tsg_autoloadimage/cron::uploadImage</model>
                    </run>
                </tsg_autoloadimage_cron>
            </jobs>
        </crontab>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <tsg_autoloadimage before="Mage_Adminhtml">Tsg_AutoLoadImage_Adminhtml</tsg_autoloadimage>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <tsg_autoloadimage>
                    <file>tsg_import.xml</file>
                </tsg_autoloadimage>
            </updates>
        </layout>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <add_import_button_to_product_grid>
                        <type>method</type>
                        <class>tsg_autoloadimage/observer</class>
                        <method>addButtonImportImages</method>
                    </add_import_button_to_product_grid>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
    </adminhtml>
</config>